.detail-article {
  padding: 2rem 0;
  position: relative;
  z-index: 2;
}

.detail-title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.detail-poster-wrap {
  overflow: hidden;
  max-width: 27rem;
  margin: 0 auto 1rem;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.detail-para-text {
  font-size: 1.5rem;
  line-height: 2.1rem;
}

.detail-para-heading {
  font-size: 2rem;
}

.detail-rating-wrap {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.star-rating {
  div {
    display: flex;
    align-items: center;
  }
}

.detail-company-name {
  font-size: 1.5rem;
}
.detail-company-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.decoration {
  display: inline-block;
  width: 10rem;
  height: 2px;
  background: #fff;
  margin: 0 0 4px;
}
.details-wrap {
  margin: 0 0 1.5rem;
}
.sub-details-wrap {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.detail-company-logo-wrap {
  display: inline-flex;
  align-items: center;
}
.detail-company-logo {
  width: 9rem;
  height: auto;
  object-fit: contain;
}
.detail-logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 0 2rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -11px;
    height: 1px;
    width: 9rem;
    background: #fff;
  }

  &:last-child {
    margin: 0;

    &::before {
      display: none;
    }
  }
}

.back-button {
  cursor: pointer;
  background-color: var(--accent-color);
  padding: 0.8rem 2rem;
  color: #fff;
  border-radius: 0.5rem;
  display: inline-block;
  margin: 2rem 0 0;
  position: relative;
  z-index: 2;
  transition: all 0.2s ease-in-out;
  font-size: 1.3rem;

  &:hover {
    background-color: var(--subtle-gray);
  }
}

.movie-detail-route {
  #root {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
  }
  .movie-detail-page {
    flex-grow: 1;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      z-index: 1;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .detail-parent-wrap {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .back-button {
    font-size: 1.6rem;
  }
}
