.header {
  background-color: var(--header-bg);
  padding: 0 0 1rem;
}

.header-logo {
  color: var(--accent-color);
  display: flex;
  align-items: center;
  padding: 1rem 0;

  a {
    color: inherit;
    font-size: 2.5rem;
  }
}

.genre-wrap {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0 0 0.5rem;
  // firefox customizations

  --scrollbar-track-clr: #484848;
  --scrollbar-thumb-clr: #f87171;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-clr) var(--scrollbar-track-clr);

  // chrome, safari, opera customizations
  &::-webkit-scrollbar {
    height: 4px;
  }
  &::-webkit-scrollbar-track {
    background: var(--scrollbar-track-clr);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-clr);
    border-radius: 10px;
    border: none;
  }

  .genre-item {
    display: inline-flex;
    color: #fff;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.3rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    a {
      color: inherit;
      font: inherit;
      display: block;
      padding: 0.5rem 1rem;
      background: var(--subtle-gray);
      transition: all 0.3s ease;

      &:hover {
        background: var(--accent-color);
      }

      &.active {
        background: var(--accent-color);
      }
    }
  }

  .genre-shimmer {
    display: inline-flex;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    min-width: 8rem;
    min-height: 3.7rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;

  svg {
    transition: all 0.3s ease;
  }

  svg:hover {
    stroke: var(--accent-color);
  }
}

@media only screen and (min-width: 1024px) {
  .header-logo a {
    font-size: 3.5rem;
  }

  .search-button {
    font-size: 2.5rem;
  }
}
